<nav class="navbar navbar-expand-md navbar-color navbar-absolute">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"> <i class="fas fa-bars"></i>
		</span>
	</button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <div class="navbar-nav mr-auto">
            <a class="text-decoration-none" [routerLink]="['/home/menu/']">
                <i class="fas fa-2x fa-arrow-circle-left text-white"></i>
            </a>
        </div>
        <div class="text-center">
            <span class="navbar-text nav-title">Sistema Integral
				Rinku</span>
        </div>
        <div class="my-lg-0 ml-auto">
            <a class="text-decoration-none" [routerLink]="['/home/menu/']">
                <i class="fas fa-2x fas fa-sign-out-alt text-white"></i>
            </a>
        </div>
    </div>
</nav>